extends ./layoutAdministrador.pug

block contenido
	div(class='container' data-spy="scroll")
		div(class='row')
			div(class='col-sm-12')
				div(class="separar")
				h2(class="centrar") Bienvenido(a) 
				div(class="separar")
				h3(class="centrar") Administrador
				div(class="separar")
				h5= mensaje
