extends ./layout.pug

block contenido
	//- div(class="franja_amarilla_header")
	ul(class="nav nav-tabs justify-content-center")
		li(class="nav-item dropdown")
			a(class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Docentes
			div(class="dropdown-menu")
				a(class="dropdown-item" href="adicionarDocente") Adicionar
				a(class="dropdown-item" href="consultarDocentes") Consultar
				a(class="dropdown-item" href="modificarDocente") Modificar
		li(class="nav-item dropdown") 
			a(class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Estudiantes
			div(class="dropdown-menu")
				a(class="dropdown-item" href="adicionarEstudiante") Adicionar
				a(class="dropdown-item" href="consultarEstudiantes") Consultar
				a(class="dropdown-item" href="modificarEstudiante") Modificar
		li(class="nav-item")
			a(class="nav-link" href="/") Cerrar sesión
