<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>"Elecciones - IE Cascajal"</title>
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/estilos.css">
  </head>
</html>
<body>
  <header>
    <h1>Lista de estudiantes</h1>
  </header>
  <footer class="fixed-bottom">
    <p>&copy 2018 Institución Educatica Cascajal, Derechos reservados</p>
  </footer>
</body>