extends ./layout.pug

block contenido
	div(class='container' data-spy="scroll")
		ul(class="nav nav-tabs justify-content-center")
			li(class="nav-item")
				a(class="nav-link" href="/") Inicio
		br
	div(class='container')
		div(class="col col-sm-12 justify-content-center")
		br
		h3 Final del proceso de votación
		h3 Muchas gracias por participar!
		br
		if nom_sede == "CASCAJAL"
			form(action="/sedeIECascajal")
				input(type="submit" value="Finalizar" class="btn btn-primary")
		if nom_sede == "EL TOBO"
			form(action="/sedeElTobo")
				input(type="submit" value="Finalizar" class="btn btn-primary")
		if nom_sede == "LA ESPERANZA"
			form(action="/sedeLaEsperanza")
				input(type="submit" value="Finalizar" class="btn btn-primary")
		if nom_sede == "LA FLORIDA"
			form(action="/sedeLaFlorida")
				input(type="submit" value="Finalizar" class="btn btn-primary")
		if nom_sede == "LA PIRAGUA"
			form(action="/sedeLaPiragua")
				input(type="submit" value="Finalizar" class="btn btn-primary")
		if nom_sede == "MATEO RICO"
			form(action="/sedeMateoRico")
				input(type="submit" value="Finalizar" class="btn btn-primary")
		if nom_sede == "PAQUIES"
			form(action="/sedePaquies")
				input(type="submit" value="Finalizar" class="btn btn-primary")
