extends ./layout.pug

block contenido
	div(class='container' data-spy="scroll")
		ul(class="nav nav-tabs justify-content-center")
			li(class="nav-item")
				a(class="nav-link" href="/") Inicio
		h5(class="centrar") Institución Educativa Cascajal
		div(class="row justify-content-md-center divEntreGrados")
			div(class="col-auto")
				input(type="submit" value="Preescolar" class="btn btnPreescolarPrimeroSegundo")
			div(class="col-auto")
				input(type="submit" value="Primero" class="btn btnPreescolarPrimeroSegundo")
			div(class="col-auto")
				input(type="submit" value="Segundo" class="btn btnPreescolarPrimeroSegundo")
		div(class="row justify-content-md-center divEntreGrados")
			div(class="col-auto")
				input(type="submit" value="Tercero" class="btn btnTerceroCuartoQuinto")
			div(class="col-auto")
				input(type="submit" value="Cuarto" class="btn btnTerceroCuartoQuinto")
			div(class="col-auto")
				input(type="submit" value="Quinto" class="btn btnTerceroCuartoQuinto")
		div(class="row justify-content-md-center divEntreGrados")
			div(class="col-auto")
				input(type="submit" value="Sexto A" class="btn btnSexto")
			div(class="col-auto")
				input(type="submit" value="Sexto B" class="btn btnSexto")
		div(class="row justify-content-md-center divEntreGrados")
			div(class="col-auto")
				input(type="submit" value="Séptimo A" class="btn btnSeptimo")
			div(class="col-auto")
				input(type="submit" value="Séptimo B" class="btn btnSeptimo")
		div(class="row justify-content-md-center divEntreGrados")
			div(class="col-auto")
				input(type="submit" value="Octavo" class="btn grados_8910")
			div(class="col-auto")
				input(type="submit" value="Noveno" class="btn grados_8910")
			div(class="col-auto")
				input(type="submit" value="Décimo" class="btn grados_8910")
			div(class="col-auto")
				form(action="/votarIECascajalGrado11")
					input(type="submit" value="Undécimo" class="btn grados_8910")
