extends ./layout.pug

block contenido
	form(action="/" id="formulario" method="POST")
		div(class="row justify-content-md-center formLogin")
			div(class="col-auto")
				input(type="text" class="form-control" name="idUsuario" placeholder="Usuario" autofocus)
			div(class="col-auto")
				input(type="password" class="form-control" name="claveUsuario" placeholder="Contraseña")
			div(class="col-auto")
				input(type="submit" value="Inciar sesión" class="btn btn-primary")
	div(class="separar")
	div(class='container')
		div(class='col-sm-12')
			div(class="row")
				div(class="col-4")
					div(class="list-group" id="list-tab" role="tablist")
						a(class="list-group-item list-group-item-action" id="list-iecascajal-list" data-toggle="list" href="#list-iecascajal" role="tab" aria-controls="iecascajal") Institución Educativa Cascajal
						a(class="list-group-item list-group-item-action" id="list-sede1-list" data-toggle="list" href="#list-sede1" role="tab" aria-controls="sede1") Sede El Tobo
						a(class="list-group-item list-group-item-action" id="list-sede2-list" data-toggle="list" href="#list-sede2" role="tab" aria-controls="sede2") Sede La Piragua
						a(class="list-group-item list-group-item-action" id="list-sede3-list" data-toggle="list" href="#list-sede3" role="tab" aria-controls="sede3") Sede Paquies
						a(class="list-group-item list-group-item-action" id="list-sede4-list" data-toggle="list" href="#list-sede4" role="tab" aria-controls="sede4") Sede La Esperanza
						a(class="list-group-item list-group-item-action" id="list-sede5-list" data-toggle="list" href="#list-sede5" role="tab" aria-controls="sede5") Sede La Florida
						a(class="list-group-item list-group-item-action" id="list-sede6-list" data-toggle="list" href="#list-sede6" role="tab" aria-controls="sede6") Sede Mateo Rico
				div(class="col-8")
					div(class="tab-content" id="nav-tabContent")
						div(class="tab-pane fade show" id="list-iecascajal" role="tabpanel" aria-labelledby="list-iecascajal-list")
							h5 Institución Educativa Cascajal
							p(class="parrafo_sede") Estado: ANTIGUO-ACTIVO
							p(class="parrafo_sede") Tipo: INSTITUCIÓN EDUCATIVA
							p(class="parrafo_sede") Calendario: A
							p(class="parrafo_sede") Sector: OFICIAL
							p(class="parrafo_sede") Zona EE: RURAL
							p(class="parrafo_sede") Estrato: ESTRATO 1
							p(class="parrafo_sede") Jornada: MAÑANA,COMPLETA,NOCTURNA,FIN DE SEMANA
							p(class="parrafo_sede") Género: MIXTO
							p(class="parrafo_sede") Carácter: ACADÉMICO
							p(class="parrafo_sede") Matrícula Contratada: SI
							br
							form(action="/gradosIECascajal")
								input(type="submit" value="Ir a votaciones" class="btn btn-info")
						div(class="tab-pane fade show" id="list-sede1" role="tabpanel" aria-labelledby="list-sede1-list")  
							h5 Sede: EL TOBO
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum rerum dolorum necessitatibus nisi similique dolores voluptas ea, iste natus optio impedit culpa saepe autem doloremque perferendis molestias, dicta reiciendis rem!
						div(class="tab-pane fade show" id="list-sede2" role="tabpanel" aria-labelledby="list-sede2-list")
							h5 Sede: LA PIRAGUA	
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum rerum dolorum necessitatibus nisi similique dolores voluptas ea, iste natus optio impedit culpa saepe autem doloremque perferendis molestias, dicta reiciendis rem!					
						div(class="tab-pane fade show" id="list-sede3" role="tabpanel" aria-labelledby="list-sede3-list")
							h5 Sede: PAQUIES
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda recusandae doloremque neque explicabo consequuntur adipisci quaerat quam voluptatem, nam. Et necessitatibus vitae repellat nihil quis quia, perferendis harum doloremque! 
						div(class="tab-pane fade show" id="list-sede4" role="tabpanel" aria-labelledby="list-sede4-list")  
							h5 Sede: LA ESPERANZA
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum rerum dolorum necessitatibus nisi similique dolores voluptas ea, iste natus optio impedit culpa saepe autem doloremque perferendis molestias, dicta reiciendis rem!
						div(class="tab-pane fade show" id="list-sede5" role="tabpanel" aria-labelledby="list-sede5-list")
							h5 Sede: LA FLORIDA
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum rerum dolorum necessitatibus nisi similique dolores voluptas ea, iste natus optio impedit culpa saepe autem doloremque perferendis molestias, dicta reiciendis rem!
						div(class="tab-pane fade show" id="list-sede6" role="tabpanel" aria-labelledby="list-sede6-list")
							h5 Sede: MATEO RICO	
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum rerum dolorum necessitatibus nisi similique dolores voluptas ea, iste natus optio impedit culpa saepe autem doloremque perferendis molestias, dicta reiciendis rem!							