extends ./layout.pug

block contenido
	form(action="/" id="formulario" method="POST")
		div(class="row justify-content-center formLogin")
			div(class="col-auto")
				input(type="text" class="form-control" name="idUsuario" placeholder="Usuario" autofocus)
			div(class="col-auto")
				input(type="password" class="form-control" name="claveUsuario" placeholder="Contraseña")
			div(class="col-auto")
				input(type="submit" value="Inciar sesión" class="btn btn-primary")
	div(class="separar")
	div(class='container')
		div(class='col-sm-12')
			div(class="row")
				div(class="col-4")
					div(class="list-group" id="list-tab" role="tablist")
						a(class="list-group-item list-group-item-action seleccionSedes" id="list-inicial-list" data-toggle="list" href="#list-inicial" role="tab" aria-controls="inicial") Instrucciones
						a(class="list-group-item list-group-item-action seleccionSedes" id="list-iecascajal-list" data-toggle="list" href="#list-iecascajal" role="tab" aria-controls="iecascajal") Institución Educativa Cascajal
						a(class="list-group-item list-group-item-action seleccionSedes" id="list-sede1-list" data-toggle="list" href="#list-sede1" role="tab" aria-controls="sede1") Sede El Tobo
						a(class="list-group-item list-group-item-action seleccionSedes" id="list-sede2-list" data-toggle="list" href="#list-sede2" role="tab" aria-controls="sede2") Sede La Piragua
						a(class="list-group-item list-group-item-action seleccionSedes" id="list-sede3-list" data-toggle="list" href="#list-sede3" role="tab" aria-controls="sede3") Sede Paquies
						a(class="list-group-item list-group-item-action seleccionSedes" id="list-sede4-list" data-toggle="list" href="#list-sede4" role="tab" aria-controls="sede4") Sede La Esperanza
						a(class="list-group-item list-group-item-action seleccionSedes" id="list-sede5-list" data-toggle="list" href="#list-sede5" role="tab" aria-controls="sede5") Sede La Florida
						a(class="list-group-item list-group-item-action seleccionSedes" id="list-sede6-list" data-toggle="list" href="#list-sede6" role="tab" aria-controls="sede6") Sede Mateo Rico
				div(class="col-8")
					div(class="tab-content" id="nav-tabContent")
						div(class="tab-pane fade show active" id="list-inicial" role="tabpanel" aria-labelledby="list-inicial-list")
							h3 Bienvenido(a)
							hr
							h5 Pasos
							p 1) Seleccionar la sede en la cual realizar las elecciones
							p 2) Seleccionar el grado
							p 3) Buscar el estudiante por número de identificación
							p 4) Dar clic en el botón 
								span(class="badge badge-secondary") Votar
						div(class="tab-pane fade show" id="list-iecascajal" role="tabpanel" aria-labelledby="list-iecascajal-list")
							h5(class="centrar") Institución Educativa Cascajal
							p Seleccione un grado
							div(class="row justify-content-start divEntreGrados")
								div(class="col-auto")
									form(action="/votarIECascajal")
										input(type="submit" value="Preescolar" name="GRADO 0" class="btn btnPreescolarPrimeroSegundo btnGrados")
								div(class="col-auto")
									form(action="/votarIECascajal")
										input(type="submit" value="Primero" name="PRIMERO" class="btn btnPreescolarPrimeroSegundo btnGrados")
								div(class="col-auto")
									form(action="/votarIECascajal")
										input(type="submit" value="Segundo" name="SEGUNDO" class="btn btnPreescolarPrimeroSegundo btnGrados")
							div(class="row justify-content-start divEntreGrados")
								div(class="col-auto")
									form(action="/votarIECascajal")
										input(type="submit" value="Tercero" name="TERCERO" class="btn btnTerceroCuartoQuinto btnGrados")
								div(class="col-auto")
									form(action="/votarIECascajal")
										input(type="submit" value="Cuarto" name="CUARTO" class="btn btnTerceroCuartoQuinto btnGrados")
								div(class="col-auto")
									form(action="/votarIECascajal")
										input(type="submit" value="Quinto" name="QUINTO" class="btn btnTerceroCuartoQuinto btnGrados")
							div(class="row justify-content-start divEntreGrados")
								div(class="col-auto")
									form(action="/votarIECascajal")
										input(type="submit" value="Sexto A" name="SEXTO" class="btn btnSexto btnGrados")
								div(class="col-auto")
									form(action="/votarIECascajal")
										input(type="submit" value="Sexto B" name="SEXTO" class="btn btnSexto btnGrados")
							div(class="row justify-content-start divEntreGrados")
								div(class="col-auto")
									form(action="/votarIECascajal")
										input(type="submit" value="Séptimo A" name="SEPTIMO" class="btn btnSeptimo btnGrados")
								div(class="col-auto")
									form(action="/votarIECascajal")
										input(type="submit" value="Séptimo B" name="SEPTIMO" class="btn btnSeptimo btnGrados")
							div(class="row justify-content-start divEntreGrados")
								div(class="col-auto")
									form(action="/votarIECascajal")
										input(type="submit" value="Octavo" name="OCTAVO" class="btn grados_8910 btnGrados")
								div(class="col-auto")
									form(action="/votarIECascajal")
										input(type="submit" value="Noveno" name="NOVENO" class="btn grados_8910 btnGrados")
								div(class="col-auto")
									form(action="/votarIECascajal")
										input(type="submit" value="Décimo" name="DECIMO" class="btn grados_8910 btnGrados")
								div(class="col-auto")
									form(action="/votarIECascajal")
										input(type="submit" value="Undécimo" name="UNDECIMO" class="btn grados_8910")
						div(class="tab-pane fade show" id="list-sede1" role="tabpanel" aria-labelledby="list-sede1-list")  
							h5(class="centrar") Sede El Tobo
							p Seleccione un grado
							div(class="row justify-content-start divEntreGrados")
								div(class="col-auto")
									input(type="submit" value="Preescolar" class="btn btnPreescolarPrimeroSegundo btnGrados")
								div(class="col-auto")
									input(type="submit" value="Primero" class="btn btnPreescolarPrimeroSegundo btnGrados")
								div(class="col-auto")
									input(type="submit" value="Segundo" class="btn btnPreescolarPrimeroSegundo btnGrados")
							div(class="row justify-content-start divEntreGrados")
								div(class="col-auto")
									input(type="submit" value="Tercero" class="btn btnTerceroCuartoQuinto btnGrados")
								div(class="col-auto")
									input(type="submit" value="Cuarto" class="btn btnTerceroCuartoQuinto btnGrados")
								div(class="col-auto")
									input(type="submit" value="Quinto" class="btn btnTerceroCuartoQuinto btnGrados")
						div(class="tab-pane fade show" id="list-sede2" role="tabpanel" aria-labelledby="list-sede2-list")
							h5(class="centrar") Sede La Piragua
							p Seleccione un grado
							div(class="row justify-content-start divEntreGrados")
								div(class="col-auto")
									input(type="submit" value="Preescolar" class="btn btnPreescolarPrimeroSegundo btnGrados")
								div(class="col-auto")
									input(type="submit" value="Primero" class="btn btnPreescolarPrimeroSegundo btnGrados")
								div(class="col-auto")
									input(type="submit" value="Segundo" class="btn btnPreescolarPrimeroSegundo btnGrados")
							div(class="row justify-content-start divEntreGrados")
								div(class="col-auto")
									input(type="submit" value="Tercero" class="btn btnTerceroCuartoQuinto btnGrados")
								div(class="col-auto")
									input(type="submit" value="Cuarto" class="btn btnTerceroCuartoQuinto btnGrados")
								div(class="col-auto")
									input(type="submit" value="Quinto" class="btn btnTerceroCuartoQuinto btnGrados")

						div(class="tab-pane fade show" id="list-sede3" role="tabpanel" aria-labelledby="list-sede3-list")
							h5(class="centrar") Sede Paquies
							p Seleccione un grado
							div(class="row justify-content-start divEntreGrados")
								div(class="col-auto")
									input(type="submit" value="Preescolar" class="btn btnPreescolarPrimeroSegundo btnGrados")
								div(class="col-auto")
									input(type="submit" value="Primero" class="btn btnPreescolarPrimeroSegundo btnGrados")
								div(class="col-auto")
									input(type="submit" value="Segundo" class="btn btnPreescolarPrimeroSegundo btnGrados")
							div(class="row justify-content-start divEntreGrados")
								div(class="col-auto")
									input(type="submit" value="Tercero" class="btn btnTerceroCuartoQuinto btnGrados")
								div(class="col-auto")
									input(type="submit" value="Cuarto" class="btn btnTerceroCuartoQuinto btnGrados")
								div(class="col-auto")
									input(type="submit" value="Quinto" class="btn btnTerceroCuartoQuinto btnGrados")

						div(class="tab-pane fade show" id="list-sede4" role="tabpanel" aria-labelledby="list-sede4-list")  
							h5(class="centrar") Sede La Esperanza
							p Seleccione un grado
							div(class="row justify-content-start divEntreGrados")
								div(class="col-auto")
									input(type="submit" value="Preescolar" class="btn btnPreescolarPrimeroSegundo btnGrados")
								div(class="col-auto")
									input(type="submit" value="Primero" class="btn btnPreescolarPrimeroSegundo btnGrados")
								div(class="col-auto")
									input(type="submit" value="Segundo" class="btn btnPreescolarPrimeroSegundo btnGrados")
							div(class="row justify-content-start divEntreGrados")
								div(class="col-auto")
									input(type="submit" value="Tercero" class="btn btnTerceroCuartoQuinto btnGrados")
								div(class="col-auto")
									input(type="submit" value="Cuarto" class="btn btnTerceroCuartoQuinto btnGrados")
								div(class="col-auto")
									input(type="submit" value="Quinto" class="btn btnTerceroCuartoQuinto btnGrados")

						div(class="tab-pane fade show" id="list-sede5" role="tabpanel" aria-labelledby="list-sede5-list")
							h5(class="centrar") Sede La Florida
							p Seleccione un grado
							div(class="row justify-content-start divEntreGrados")
								div(class="col-auto")
									input(type="submit" value="Preescolar" class="btn btnPreescolarPrimeroSegundo btnGrados")
								div(class="col-auto")
									input(type="submit" value="Primero" class="btn btnPreescolarPrimeroSegundo btnGrados")
								div(class="col-auto")
									input(type="submit" value="Segundo" class="btn btnPreescolarPrimeroSegundo btnGrados")
							div(class="row justify-content-start divEntreGrados")
								div(class="col-auto")
									input(type="submit" value="Tercero" class="btn btnTerceroCuartoQuinto btnGrados")
								div(class="col-auto")
									input(type="submit" value="Cuarto" class="btn btnTerceroCuartoQuinto btnGrados")
								div(class="col-auto")
									input(type="submit" value="Quinto" class="btn btnTerceroCuartoQuinto btnGrados")

						div(class="tab-pane fade show" id="list-sede6" role="tabpanel" aria-labelledby="list-sede6-list")
							h5(class="centrar") Sede Mateo Rico
							p Seleccione un grado
							div(class="row justify-content-start divEntreGrados")
								div(class="col-auto")
									input(type="submit" value="Preescolar" class="btn btnPreescolarPrimeroSegundo btnGrados")
								div(class="col-auto")
									input(type="submit" value="Primero" class="btn btnPreescolarPrimeroSegundo btnGrados")
								div(class="col-auto")
									input(type="submit" value="Segundo" class="btn btnPreescolarPrimeroSegundo btnGrados")
							div(class="row justify-content-start divEntreGrados")
								div(class="col-auto")
									input(type="submit" value="Tercero" class="btn btnTerceroCuartoQuinto btnGrados")
								div(class="col-auto")
									input(type="submit" value="Cuarto" class="btn btnTerceroCuartoQuinto btnGrados")
								div(class="col-auto")
									input(type="submit" value="Quinto" class="btn btnTerceroCuartoQuinto btnGrados")
