doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		title "Elecciones - IE Cascajal"
		script(src="js/jquery-3.3.1.min.js")
		script(src="js/popper.min.js")
		script(src="bootstrap/js/bootstrap.min.js")
		link(rel="stylesheet" href="bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="css/estilos.css")
body
	block contenido
