doctype html
html(lang='es' data-spy="scroll")
	head
		meta(charset='utf-8')
		title "Elecciones - IE Cascajal"
		script(src="static/js/jquery-3.3.1.min.js")
		script(src="static/js/popper.min.js")
		script(src="static/bootstrap/js/bootstrap.min.js")

		link(rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="static/css/estilos.css")
body(data-spy="scroll")
	header
		div(class='container')
			div(class='row justify-content-md-center')
				div(class='col col-lg-2')
					img(id="imagen_escudo" src='static/imagenes/escudo_ie_cascajal.png' class="rounded-circle border border-warning")
				div(class="col-md-auto")
					h4 Institución Educativa Cascajal
					h6 Ciencia y cultura
					h6 Timaná - Huila
				div(class='col col-lg-2')
					img(id="imagen_escudo" src='static/imagenes/escudo_ie_cascajal.png' class="rounded-circle border border-warning")
	block contenido
	block footer
		footer(class="fixed-bottom")
			p &copy 2018 Institución Educatica Cascajal, Derechos reservados
