doctype html
html(lang='es' data-spy="scroll")
	head
		meta(charset='utf-8')
		title "Elecciones - IE Cascajal"
		script(src="static/js/jquery-3.3.1.min.js")
		script(src="static/js/popper.min.js")
		script(src="static/bootstrap/js/bootstrap.min.js")

		link(rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="static/css/estilos.css")
body(data-spy="scroll")
	header
		div(class='container')
			div(class='row justify-content-md-center')
				div(class='col col-lg-2')
					img(id="imagen_escudo" src='static/imagenes/escudo_ie_cascajal.png' class="rounded-circle border border-warning")
				div(class="col-md-auto")
					h4 Instituci칩n Educativa Cascajal
					h6 Ciencia y cultura
					h6 Timan치 - Huila
				div(class='col col-lg-2')
					img(id="imagen_escudo" src='static/imagenes/escudo_ie_cascajal.png' class="rounded-circle border border-warning")
	ul(class="nav nav-tabs justify-content-center")
		li(class="nav-item dropdown")
			a(class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Docentes
			div(class="dropdown-menu")
				a(class="dropdown-item" href="adicionarDocente") Adicionar
				a(class="dropdown-item" href="consultarDocentes") Consultar
				a(class="dropdown-item" href="modificarDocente") Modificar
		li(class="nav-item dropdown") 
			a(class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Estudiantes
			div(class="dropdown-menu")
				a(class="dropdown-item" href="adicionarEstudiante") Adicionar
				a(class="dropdown-item" href="consultarEstudiantes") Consultar
				a(class="dropdown-item" href="modificarEstudiante") Modificar
		li(class="nav-item dropdown") 
			a(class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Candidatos
			div(class="dropdown-menu")
				a(class="dropdown-item" href="adicionarCandidato") Adicionar
				a(class="dropdown-item" href="consultarCandidatos") Consultar
				a(class="dropdown-item" href="modificarEstudiante") Modificar
		li(class="nav-item")
			a(class="nav-link" href="/reportes") Reportes
		li(class="nav-item")
			a(class="nav-link" href="/") Cerrar sesi칩n
	block contenido
	block footer
		footer(class="fixed-bottom")
			p &copy 2018 Instituci칩n Educativa Cascajal, Derechos reservados
