extends ./layout.pug

block contenido
	div(class='container' data-spy="scroll")
		ul(class="nav nav-tabs justify-content-center")
			li(class="nav-item")
				a(class="nav-link" href="/") Inicio
		br
		h3 Personero(a)
		div(class="row")
			div(class="tarjeton")
				div(class="votarPersonero")
					form(action="/representanteGrado11")
						input(type="submit" value="1" class="btnVotarPersonero")
				div(class="card" style="width: 12rem;")
					img(class="card-img-top" src="static/imagenes/candidatos_personero/DIEGO ALBERTO SEMANATE ROMERO.jpg" alt="Card image cap")
					div(class="card-body")
						h5(class="card-title") DIEGO ALBERTO SEMANATE ROMERO
						p(p class="card-text") Grado 11 A						
			div(class="tarjeton")
				div(class="votarPersonero")
					form(action="/representanteGrado11")
						input(type="submit" value="2" class="btnVotarPersonero")
				div(class="card" style="width: 12rem;")
					img(class="card-img-top" src="static/imagenes/candidatos_personero/ALIX VIVIANA ROJAS SANCHEZ.jpg" alt="Card image cap")
					div(class="card-body")
						h5(class="card-title") ALIX VIVIANA ROJAS SANCHEZ
						p(p class="card-text") Grado 11 B						
			div(class="tarjeton")
				div(class="votarPersonero")
					form(action="/representanteGrado11")
						input(type="submit" value="0"  class="btnVotarPersonero")
				div(class="card" style="width: 12rem;")
					img(class="card-img-top" src="static/imagenes/candidatos_personero/voto blanco.jpeg" alt="Card image cap")
					div(class="card-body")
						h5(class="card-title") VOTO EN BLANCO
						p(p class="card-text") Vota por mí	
