extends ./layoutAdministrador.pug

block contenido
	div(class="container")
		div(class="col-sm-12")
		h3 Reporte de votación I. E. Cascajal
		div(class="row row justify-content-right")
			div(class="col-sm-8")
				select(name="gradoEstudiante" class="form-control")
					option(value="DÉCIMO") Personero
					option(value="UNDÉCIMO") UNDÉCIMO
			div(class="col-sm-2")
				form(action="/reporteVotacionTobo")
					input(type="submit" value="Ver" class="btn btn-primary form-control")
		