/*body {
	background: gray;
}
*/
header {
	background: green;
	padding: 10px;
}

footer {
	background: green;
	height: 50px;
}

footer p {
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-size: 14px;
	text-align: center;
}

h4, h6 {
	color: white;
	text-align: center;
}

/**/
.d-block {
	height: 380px;
}

/* Div de mensajes en el carrusel*/
.carousel-caption {
	background: gray;
}

.franja_amarilla_header {
	background: yellow;
}



#imagen_escudo {
	width: 80px;
	height: auto;
}

/* Imagen de pagina 'Consultar estudiantes' */
.imagenEstudiante {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.imagenEstudiante:hover {
	width: 100px;
	height: 100px;
}